[submodule "Advent of Code/2015"]
	path = Advent of Code/2015
	url = https://github.com/Amir-Hossein-ID/Advent-of-Code-2015.git
	branch = master
[submodule "Quera"]
	path = Quera
	url = https://github.com/Amir-Hossein-ID/Quera-Answers.git
	branch = master
[submodule "Leetcode"]
	path = Leetcode
	url = https://github.com/Amir-Hossein-ID/Leetcode-Answers.git
	branch = master
[submodule "Codeforces"]
	path = Codeforces
	url = https://github.com/Amir-Hossein-ID/Codeforces-Answers.git
	branch = main
